*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel";
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}
html,body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body::-webkit-scrollbar{
    display: none;
}

#main{
    height: 100%;
    width: 100%;
    
}

#nav{
    position: relative;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 30px;
    animation: reveal 2s cubic-bezier(0.19, 1, 0.22, 1)  both;
}
#nav h2{
    line-height: 20px;
}


#link{
    display: flex;
    gap: 20px;
    position: absolute ;
    left: 50%;
    transform: translate(-50%, 0);
}
#link a{
    text-decoration: none;
    color: black;
    opacity: 0.4;

}
#link a:hover{
    opacity: 1;
}
#icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px ;
    width: 40px ;
    background-color: transparent;
    border-radius: 100%;
    border: 1px solid black;
    opacity: 0.5;
    cursor: pointer;
}
#icon:hover{
    opacity: 1;
}

#heading{
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 45%;
    text-align: center;
}
#heading>h1{
    font-size: 10vw;
    line-height: 9vw;
    font-weight: 500;
}

#img1{
    height: 19.5vw;
    width: 15vw;
    position: absolute;
    top: 15%;
    left: 7%;
    overflow: hidden;
    background: #000;
    animation: image 2s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}
#inner{
    width: 100%;
    height: 100%;
    
}
#inner>img{
    width: 100% ;
}
#img2 {
    height: 17vw;
    width: 12vw;
    position: absolute;
    top: 60%;
    right: 0;
    overflow: hidden;
    animation: image 5s cubic-bezier(0.19, 1, 0.22, 1) 1.5s both;
}
#img3 {
    height: 4vw;
    width: 17vw;
    position: absolute;
    top: 93%;
    left: 26%;
    overflow: hidden;
    animation: image 15s cubic-bezier(0.19, 1, 0.22, 1) 2s both;
}
#orange{
    position: absolute;
    width: 7vw;
    top: 21%;
    right: 22%;
    animation: size 1s cubic-bezier(0.19, 1, 0.22, 1) 2.8s both;
}
#blue{
    position: absolute;
    width: 6vw;
    bottom: -5%;
    left: 15%;
    animation: size 1s cubic-bezier(0.19, 1, 0.22, 1) 3s both;
}
#a{
    animation: reveal 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1s both;
}
#b{
    animation: reveal 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1.5s both;
}
#c{
    animation: reveal 1.5s cubic-bezier(0.19, 1, 0.22, 1) 2s both;
}

@keyframes image{
    from{
        height: 0%;
    }
    to{
        height: 19vw;
    }

}

@keyframes reveal{
    from{
        margin-top: 50px;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes size{
    from{
        width: 0;
    }
    to{
        width:7vw;
    }
}

